<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "headline": "{{ title }}",
  "description": "{{ description }}",
  "image": "{{ image or site.url + '/assets/img/og-image.jpg' }}",
  "author": {
    "@type": "Person",
    "name": "SetHubble Partner"
  },
  "publisher": {
    "@type": "Organization",
    "name": "SetHubble Ecosystem",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}/assets/img/logo.png"
    }
  },
  "datePublished": "{{ date | dateIso }}",
  "dateModified": "{{ date | dateIso }}"
}
</script>
